*{
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    font-family: 'Share Tech Mono', sans-serif;
    margin: 0;
    background: linear-gradient(#000000, #0f73b6d8, #000000);
}

/*--------------------------------------------------------------------------game-title*/

.game-title {
    color: #a6b7c9;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    letter-spacing: 7px;
    background-color: #000000;
    box-shadow: 5px 10px 18px rgb(252, 252, 253);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

/*----------------------------------------------------------------------------game-info*/

.game-info {
    color: #a6b7c9;
    font-size: 2em;
    display: inline;
}

.game-info-container {
    margin-top: 2em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2px;
    margin: 10px 50px;
    justify-content: center;
    perspective: 500px
}


/*--------------------------------------------------------------------------------cards*/

.card {
    position: relative;
    height: 100px;
    width: 100px;
   
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    align-items: center;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card-front {
    transform: rotateY(180deg);
}

/*-----------------------------------------------------------------------------overlays*/

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: rgb(202, 223, 247);
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

.overlay-text-small {
    font-size: .3em;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 6em;
    }
}

.container {
    text-align: center;
}

/*------------------------------------------------------------------------------buttons*/

.buttons {
    background-color: #04141d;
    border: none;
    display: inline-block;
    outline: none;
    color: #a6b7c9;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 1em;
}

.buttons:hover {
    box-shadow: 5px 10px 18px rgb(138, 138, 158);
}


/*--------------------------------------------------------------------------------images*/

img {
  width: 100%;
  height: 100%;
}

/*---------------------------------------------------------------------------media queries*/

@media (max-width: 600px) {
    .card {
        height: 60px;
        width: 60px;
    }

    .game-info {
        font-size: 1em;
        font-weight: bold;
    }

    .game-title {
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .features {
        font-size: 1em;
        font-weight: bold;
    }

    .buttons {
        font-size: 15px;
        font-weight: bold;
    }

    .list-inline-item a i {
        width: 15px;
        height: 15px;
        font-size: 15px;
        color: #a6b7c9;
        border-radius: 3px;
    }

    .list-inline li {
        display: inline-block;
        color: #fafafa;
        margin-top: 50px;
        padding: 30px;
    }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, 0.7);
            font-size: 3em;
        }
    }
}

/*--------------------------------------------------------------------------------modal-box*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.6); 
}


/*------------------------------------------ Modal Content/Box */
.modal-content {
    background-color: #0b3d55;
    color: whitesmoke;
    font-size: 20px;
    margin: 15% auto; 
    padding: 20px;
    border: none;
    width: 80%; 
    border-radius: 15px;
    box-shadow: 5px 10px 8px 10px #818899;
}

/* -----------------------------------------------The Close Button */
.close {
    color: rgb(243, 242, 248);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*---------------------------------------------------Footer*/

.list-inline-item a i {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #a6b7c9;
    border-radius: 3px;
    
}

.list-inline-item a i:hover {
    box-shadow: 5px 8px 10px 10px rgb(222, 234, 241);
}

.list-inline li {
    display: inline-block;
    color: #fafafa;
    margin-top: 100px;
    padding: 30px;
}