*{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body{
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    background: linear-gradient(#000003, #0b578ad8, #69aae7);
}

.game-title{
    color: #4c4e57;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    letter-spacing: 6px;
}

.features{
    color: #b9bdd1;
    font-size: 2em;
}

.game-info{
    color: #e3e6f8;
    font-size: 2em;
    display: inline;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2px;
    margin: 50px;
    justify-content: center;

}

.card {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: black;
}

.card-back,
.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
}

.btn{

}

img {
  width: 100%;
  height: 100%;
}